/* put this in project item box*/
#imageWrapper {
  position: relative;
  width: 90vw;
}
#imageWrapper img {
  display: block;
  background-color: #0C1017;
  border-radius: 1em;
  width:100%;
  object-fit: contain;
  margin: 0 auto;
}
#imageOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 1em;
  display: flex;
  align-items:end;
  background:linear-gradient(to top, black -20%, transparent);
  opacity: 0;
  transition: opacity 0.25s;
}
#imageOverlay:hover {
  opacity: 1;
  cursor: pointer;
}
#imageOverlay p {
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
}
