/* mobile design */
#headerOuterContainer {
  position: relative;
  display: flex;
  background: transparent;
  width: 95%;
  margin: 0 auto;
}

#ASLOGOContainer {
  display: flex;
  align-items: center;
  width:90%;
}
#ASLOGOContainer h4 {
  font-size: 24px;
  font-weight: bolder;
  font-family: var(--leckerli);
}
#ASlogo {
  object-fit:contain;
  width: 52px;
}

#lightdarkModeIcon {
  margin: auto;
  object-fit: contain;
  width: 25px;
}
#defaultIcontContainer {
  display: flex;
  width: 40px;
  align-self: center;
  align-items: center;
  height: 40px;
  border-radius: 100%;
}
.lightModeBGIconContainer {
  background-color: var(--lightModeActiveBtnBGColor);
}
.darkModeBGIconContainer {
  background-color: var(--darkModeActiveBtnBGColor);
}
.lightModeIconContainer img:hover {
  cursor: pointer;
}



