<div id="headerOuterContainer">
  <div id="ASLOGOContainer">
    <img id="ASlogo"
    loading="lazy"
    src="../../../assets/images/ASLOGO.jpg"
    alt="">
    <h4
    [@fadetextDarkMode]="colorMode == 'light' ? 'light' : 'dark' " >
    Hnaro S.
  </h4>
  </div>
  <div id="defaultIcontContainer" [class.darkModeBGIconContainer]="!isDefaultModeOn" [class.lightModeBGIconContainer]="isDefaultModeOn">
    <img (click)="onChangeTheme()"
    id="lightdarkModeIcon"
    loading="lazy"
    [src]="src"
    alt="">
  </div>
</div>
