<div [class.defaultBorderBttm]="!isDarkModeActive"
[class.darkModeBorderBttm]="isDarkModeActive"
id="prjctItemBtnsContainer">
  <div>
    <ul [class.defaultTxtColor]="!isDarkModeActive"
    [class.textDarkMode]="isDarkModeActive" >
      <li [class.isSelectedDefault]="isProjectSelected && !isDarkModeActive"
      [class.isSelectedDarkMode]="isProjectSelected && isDarkModeActive">
      <button (click)="onClickChange(1)" >Projects</button>
    </li>
      <li id="margin-Right"
      [class.isSelectedDefault]="isProjectDocsSelected && !isDarkModeActive"
      [class.isSelectedDarkMode]="isProjectDocsSelected && isDarkModeActive">
      <button (click)="onClickChange(2)">ProjectDocs</button>
    </li>
      <li
      [class.isSelectedDefault]="isAboutSelected && !isDarkModeActive"
      [class.isSelectedDarkMode]="isAboutSelected && isDarkModeActive">
        <button (click)="onClickChange(3)">About</button>
      </li>
    </ul>
  </div>
</div>
