<div id="headerOuterContainer">
  <div id="ASLOGOContainer">
    <img id="ASlogo"
    loading="lazy"
    [src]="ASLogo"
    alt="PersonalWebsite">
    <h4
    [@fadetextDarkMode]="isDefaultModeOn?'light':'dark'" >
    Hnaro S.
  </h4>
  </div>
  <div id="defaultIcontContainer"
  [class.darkModeBGIconContainer]="!isDefaultModeOn"
  [class.lightModeBGIconContainer]="isDefaultModeOn">
    <img @slideLeftLightModeIcon
    *ngIf="isDefaultModeOn"
    (click)="onChangeTheme()"
    id="lightModeIcon"
    loading="eager"
    src="../../../assets/images/lightIcon.jpg"
    alt="WebPortfolio">
    <img @slideRightLightModeIcon
    *ngIf="isSlideLeftAnimDone"
    (click)="onChangeTheme()"
    id="darkModeIcon"
    loading="eager"
    src="../../../assets/images/darkIcon.jpg"
    alt="WebPortfolio">
  </div>
</div>
