/* mobile design */
#headerOuterContainer {
  position: relative;
  display: flex;
  padding-top: 0.4em;
  width:  95%;
  margin: 0 auto;
}

#ASLOGOContainer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width:95%;
}
#ASLOGOContainer h4 {
  font-size: 24px;
  font-weight: lighter;
  font-family: var(--leckerli);
}
#ASlogo {
  object-fit:contain;
  width: 52px;
}

#lightModeIcon {
  margin: 0 auto;
  object-fit: contain;
  width: 25px;
}
#darkModeIcon {
  margin: auto;
  object-fit: contain;
  width: 15px;
}
#defaultIcontContainer {
  display: flex;
  width: 40px;
  align-self: center;
  align-items: center;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.lightModeBGIconContainer {
  background-color: var(--lightModeActiveBtnBGColor);
}
.darkModeBGIconContainer {
  background-color: var(--darkModeActiveBtnBGColor);
}
.lightModeIconContainer img:hover {
  cursor: pointer;
}



