#profileContainer {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  text-align: left;
}
#profileContainer img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0.5em 0em 1em 0em;
}
#seeResumeBtn {
  background-color: transparent;
  border-radius: 2em;
  font-size: 14px;

  padding: 1em 2em 1em 2em;

  border-collapse: collapse;
  margin-top: 0.8em;
}

.txtColor-DarkMode {
  color: #FFFFFF;
}
.txtCourse-DarkMode {
  color: var(--darkModeCourseFontColor);
}
.defaultBtnStyle {
  border: 1px solid var(--lightModeHR_N_Borderline);
  color: var(--lightModeFontColor);
  font-weight: 500;
}
.btnDarkMode {
  border: 1px solid var(--darkModeHR_N_Borderline);
  color: #FFFFFF;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
  padding: 0em;
}
h3, h4 {
  margin: 0;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 16px;
  font-weight: 300;
}
h3 {
  color: var(--lightModeCourseFontColor);
}
